<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="RankJams" content="width=device-width, inital-scale=1.0">
    <title>"RankJams"</title>
</head>
<body>
    <h1>RankJams</h1>
    <hr>
    <p>Here are six songs I like:</p>
    <p><b>1:</b> New Sky - SiR, Kadhja Bonnet</p>
    <img src="https://thumb.wikimedia.org/wikipedia/en/thumb/7/72/SiRChasingSummer.jpg/250px-SiRChasingSummer.jpg?utm_source=en.wikipedia.org&utm_campaign=parser&utm_content=thumbnail" alt="Chasing Summer" width="300" height="300">
    <p><b>2:</b> M.O.M. - Isaiah Rashad</p>
    <img src="https://i.scdn.co/image/ab67616d0000b273f595e5f39c4050805de5caf5" alt="It's Been Awful" width="300" height="300">
    <p><b>3:</b> Cosmo Freestyle - Freddie Gibbs</p>
    <img src="https://upload.wikimedia.org/wikipedia/en/0/01/You_Only_Die_1nce_album_cover.jpg?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=original" alt="You Only Live 1nce" width="300" height="300">
    <p><b>4:</b> Self Control - Frank Ocean</p>
    <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Blonde_-_Frank_Ocean.jpeg?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=original" alt="Blonde" width="300" height="300">
    <p><b>5:</b> Be Like a Woman - Chris Rainbow</p>
    <img src="https://i5.walmartimages.com/seo/White-Trails-CD_e6059b49-5a72-4e35-99ad-b1b2f65cad9d.50054e2aa7a3df88245f55353a32858d.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt="White Trails" width="300" height="300">
    <p><b>6:</b> Cinderella - Mac Miller, Ty Dolla $ign</p>
    <img src="https://upload.wikimedia.org/wikipedia/en/9/93/Mac_Miller_-_The_Divine_Feminine.png?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=original" alt="The Divine Feminine" width="300" height="300">
</body>
</html>