{% extends "base.html" %}

{% block title %}Rankings - RankJams{% endblock %}

{% block content %}
    <h1>RankJams</h1>
    <hr>
    <p>Pick your favorite between these two recently played songs:</p>
    <form method="post" action="{{ url_for('rank') }}">
        <input type="hidden" name="winner" value="{{ song1.id }}">
        <input type="hidden" name="loser" value="{{ song2.id }}">
        <button type="submit" class="btn">
            <img src="{{ song1.image }}" alt="{{ song1.name }}">
            <p>{{ song1.name }}</p>
        </button>
    </form>
    <br>
    <h4>VERSUS</h4>
    <br>
    <form method="post" action="{{ url_for('rank') }}">
        <input type="hidden" name="winner" value="{{ song2.id }}">
        <input type="hidden" name="loser" value="{{ song1.id }}">
        <button type="submit" class="btn">
            <img src="{{ song2.image }}" alt="{{ song2.name }}">
            <p>{{ song2.name }}</p>
        </button>
    </form>
{% endblock %}